body {
    background: #17182F;
}
#page1 {
    display: block;
    position: absolute;
    transition-duration: .2s;
}
#appname {
    position: fixed;
    color: #fff;
    font-size: 28px;
    margin-left: 0px;
    font-weight: 200;
    margin-top: 5px;
    font-weight: bold;
}
#cam {
    position: fixed;
    background: none;
    color: white;
    font-weight: bold;
    border: none;
    font-family: Sans-Serif;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 8px;
}
#menu {
    position: fixed;
    background: none;
    color: white;
    font-weight: bold;
    border: none;
    font-family: Sans-Serif;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 8px;
    transform: rotate(90deg);
}
#search {
    position: fixed;
    padding: 20px;
    height: 40px;
    width: 322px;
    margin-left: 10px;
    border-radius: 1em;
    background: rgba(0,0,0,0.1);
    margin-top: 40px;
    border: .5px solid white;
    color: white;
}
#chats {
    position: absolute;
    height: 660px;
    width: 360px;
    margin-left: -8px;
    background: #fff;
    margin-top: 90px;
    border-radius: 1em;
    overflow-y: auto;
}
#chat1,#chat2,#chat3,#chat4,#chat5,#chat6,#chat7,#chat8,#chat9,#chat10 {
    display: none;
    height: 70px;
    width: 100%;
    background: #fff;
    border-bottom: .1px solid rgba(0,0,0,0.1);
}
#pfp1,#pfp2,#pfp3,#pfp4,#pfp5,#pfp6,#pfp7,#pfp8,#pfp9,#pfp10 {
    position: absolute;
    height: 60px;
    width: 60px;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
}
#name1,#name2,#name3,#name4,#name5,#name6,#name7,#name8,#name9,#name10 {
    position: absolute;
    margin-top: 15px;
    margin-left: 80px;
    font-size: 16px;
    color: grey;
    font-family: Sans-Serif;
}
#title1 {
    position: absolute;
    font-size: 12px;
    color: silver;
    margin-top: 35px;
    margin-left: 80px;
    font-family: Sans-Serif;
}








#bottombar {
    z-index: 1;
    position: fixed;
    height: 70px;
    width: 360px;
    margin-left: -8px;
    background: #17182F;
    margin-top: 630px;
}
label1 {
    position: absolute;
    font-family: Sans-Serif;
    margin-left: 130px;
    font-size: 15px;
    color: grey;
    margin-top: 200px;
}
#addchat1 {
    position: fixed;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background: #17182F;
    color: #fff;
    font-size: 50px;
    border: none;
    margin-left: 290px;
    margin-top: -70px;
}



#contact1 {
    display: block;
    position: fixed;
    margin-left: 360px;
    transition-duration: .2s;
}
#d1 {
    position: absolute;
    height: 40px;
    width: 320px;
    border: none;
    margin-top: 60px;
    margin-left: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
}
#d2 {
    position: absolute;
    height: 40px;
    width: 320px;
    border: none;
    margin-top: 110px;
    margin-left: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
}
#d3 {
    position: absolute;
    height: 40px;
    width: 320px;
    border: none;
    margin-top: 160px;
    margin-left: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
}
#d4 {
    position: absolute;
    height: 40px;
    width: 320px;
    border: none;
    margin-top: 210px;
    margin-left: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    color: #fff;
}
#imgview {
    position: absolute;
    height: 343px;
    width: 343px;
    background: grey;
    margin-top: 300px;
}
#d5 {
    position: absolute;
    margin-left: 10px;
    color: transparent;
    margin-top: 258px;
    height: 40px;
    z-index: 1;
    color: #fff;

}
#d6 {
    z-index: 1;
    height: 40px;
    width: 100px;
    position: absolute;
    margin-left: 230px;
    margin-top: 250px;
    border-radius: .5em;
    background: #B34230;
    border: none;
    color: #fff;
    font-weight: bold;
}
#cancel1 {
    position: absolute;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
#cancel1:hover {
    background: rgba(0,0,0,0.1);
}
#done1 {
    position: absolute;
    padding: 10px;
    border: none;
    font-size: 15px;
    color: white;
    background: none;
    margin-top: 3px;
    margin-left: 290px;
}
#done1:hover {
    background: rgba(0,0,0,0.1);
}



#span1 {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-left: -8px;
    background: black;
    margin-top: -8px;
    transition-duration: .3s;
}
#tbar1 {
    z-index: 5;
    position: absolute;
    height: 55px;
    width: 360px;
    border-bottom: .6px solid grey;
    background: #17182F;
    transition-duration: .2s;
}
#bb1 {
    position: absolute;
    transform: rotate(180deg);
    margin-left: 2px;
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
    border: none;
    background: none;
}
#pro1 {
    position: absolute;
    height: 47px;
    width: 47px;
    border-radius: 100%;
    background: #fff;
    margin-top: 4px;
    margin-left: 44px;
}
#n1 {
    position: absolute;
    margin-left: 100px;
    font-size: 20px;
    margin-top: 15px;
    color: white;
}
#mb {
    position: absolute;
    border: none;
    background: none;
    margin-left: 310px;
    margin-top: 20px;
    color: white;
    transform: rotate(90deg);
}
#cmb {
    display: none;
    position: absolute;
    border: none;
    background: none;
    margin-left: 310px;
    margin-top: 20px;
    color: white;
    transform: rotate(90deg);
}
#mibu1 {
    position: absolute;
    height: 55px;
    padding-left: 225px;
    padding-top: 15px;
    padding-right: 20px;
    background: transparent;
    border: none;
    color: white;
    margin-left: 40px;
    font-size: 30px;
    transition-duration: .3s;
}
#mibu1:hover {
    background: rgba(0,0,0,0.4);
}
#emibu1 {
    display: none;
    position: absolute;
    height: 55px;
    padding-left: 225px;
    padding-right: 20px;
    padding-bottom: 15px;
    background: transparent;
    border: none;
    color: white;
    margin-left: 40px;
    font-size: 30px;
    transition-duration: .3s;
}
#emibu1:hover {
    background: rgba(0,0,0,0.4);
}
#smenu {
    z-index: 6;
    position: fixed;
    height: 120px;
    width: 150px;
    background: #17182F;
    margin-top: 55px;
    margin-left: 210px;
    transition-duration: .1s;
    transform: scale(0.0);
}
#clearchat1 {
    position: absolute;
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    color: white;
}
#wallpaper1 {
    position: absolute;
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    color: white;
    margin-top: 40px;
}
#delete1 {
    position: absolute;
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    color: white;
    margin-top: 80px;
}
#neepno1 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 70px;
    margin-left: 20px;
    opacity: 0%;
}
#relation1 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 110px;
    margin-left: 20px;
    opacity: 0%;
}
#sd1{
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 150px;
    margin-left: 20px;
    opacity: 0%;
    
}
#chatwall1{
    position: absolute;
    height: 580px;
    width: 339px;
    background: white;
    border-radius: 1em;
    margin-top: 65px;
    margin-left: 10px;
    background-image: url('/storage/emulated/0/Pictures/100PINT/Pins/a04cfb781dae03e258248e4e08aa62c1.jpg');
    background-size: cover;
    overflow-x: auto;
}
#msg1{
    padding-left: 30px;
    position: fixed;
    width: 300px;
    margin-left: 2px;
    margin-top: 655px;
    font-size: 14px;
    color: #fff;
    background: #1c1c1c;
    border-radius: 1em;
    height: 50px;
    border: .3px solid #fff;
}
#sendBtn1{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #17182F;
    margin-top: 660px;
    color: white;
    border: .7px solid #fff;
    border-radius: 1em;
    margin-left: 313px;
}
#today1{
    position: absolute;
    padding: 4px;
    border-radius: .2em;
    background: #1c1c1c;
    color: #fff;
    font-size: 9px;
    margin-left: 150px;
    margin-top: 10px;
}
#sms1{
    display: none;
    position: absolute;
    height: auto;
    width: 200px;
    padding: 10px;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.3);
    margin-left: 110px;
    margin-top: 40px;
    color: white;
    overflow-x: auto;
}
